body {
    background-color: #f5f5f5;
}

.banner {
    width: 100%;
}

#site-banner {
    color: blue;
    height: 15%;
    padding: 2% 2%;
    background-color: lightblue;
    background-size: cover;
    background-repeat: no-repeat;
}