<!DOCTYPE html>
<html lang="zh-hans">
<!-- {% load staticfiles %} -->

<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="static/stylesheets/index.css">
    <title>外借表填写</title>
</head>

<body>
    <nav class="row navbar navbar-expand-lg bg-light" id="site-navbar">
        <div class="col-sm-2"></div>
        <div class="col-sm-7">
            <a class="navbar-brand" href="#">物资借还管理系统</a>
        </div>

        <div class="col-sm-3">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">登录</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">注册</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="banner row" id="site-banner">
        <div class="col-sm-2"></div>
        <div class="col-sm-6">
            <h1>物资借还管理系统</h1>
            <p>Lorem ipsum</p>
        </div>
        <div class="col-sm-4">
        </div>
    </div>
    <div class="container-fluid row">
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <div class="sidebar text-center">
                <h2>导航栏</h2>
                <a href="#">查看当前可借物品</a>
                <a href="#">借用物品</a>
                <a href="#">留言板</a>
            </div>
        </div>
        <div class="col-sm-6">
            <h1 class="h1 text-center">外借申请表</h1>
            <form action="{% url 'supplied:SuppliedInfo' %}" method="post">
                <p>
                    <label for="name">物资名称：</label>
                    <input name="name" id="name_id" class="form-control" placeholder="物资名称" required>
                </p>
                <p>
                    <label for="unit">单位：</label>
                    <input name="unit" id="unit_id" class="form-control" placeholder="单位" required>
                </p>
                <p>
                    <label for="specification">规格：</label>
                    <input name="specification" id="spec_id" class="form-control" placeholder="规格" required>
                </p>
                <p>
                    <label for="number">数量：</label>
                    <input name="number" id="number_id" class="form-control" placeholder="数量" required>
                </p>
                <p>
                    <label for="lend_time">借用时间：</label>
                    <input name="lend_time" id="le_time__id" class="form-control" placeholder="借用时间" required>
                </p>
                <p>
                    <label for="return_time">归还时间：</label>
                    <input name="return_time" id="re_time_id" class="form-control" placeholder="归还时间" required>
                </p>
                <p>
                    <label for="organization">借用组织：</label>
                    <input name="organization" id="organ_id" class="form-control" placeholder="借用组织" required>
                </p>
                <p>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
                </p>
            </form>
        </div>
    </div>
</body>

</html>