<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>comment</title>
</head>
<body>
{% for comment in  all_comments%}
    <p>
    {{ comment.id }}楼:
    {{ comment.comments }}
    {{ comment.add_time }}
    {{ comment.user.username }}
    </p>
{% endfor %}
<textarea name="textarea" id="content" rows="10" cols="50">Write something here</textarea>
<button id="addComment">点击添加评论</button>
</body>
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $("#addComment").click(function(){
        var content = $("#content").val()
        $.ajax({
            url: '{% url 'addComment' %}',
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                content:content
            },
            success:function(data){
                if(data.status == 'success'){
                    window.location.reload()
                }else if(data.status =='fail'){
                    alet('有错误')
                }
            }
        })
        })
</script>
</html>