<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>hello</h1>
<form action="{% url 'login' %}" method="post">
    <label for="id_username">用户名：</label>
    <input type="text" id="id_username" name="username" placeholder="用户名" autofocus required/>
    <label for="id_password">密码：</label>
    <input type="password" id="id_password" placeholder="密码" name="password" required>
    <input type="submit" value="确定">
    {% csrf_token %}
</form>
</body>
</html>