<!DOCTYPE html>
<html lang="zh-hans">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>外借表详情</title>
</head>
<body>
<h1>外借申请表</h1>
<form action="{% url 'supplied:SuppliedInfo' %}" method="post">
    <p>
        <label for="name" >物资名称：</label>
        <input name="name" id="name_id" class="form-control" placeholder="物资名称" required>
    </p>
    <p>
        <label for="unit" >单位：</label>
        <input name="unit" id="unit_id" class="form-control" placeholder="单位" required>
    </p>
    <p>
        <label for="specification" >规格：</label>
        <input name="specification" id="spec_id" class="form-control" placeholder="规格" required>
    </p>
    <p>
        <label for="number" >数量：</label>
        <input name="number" id="number_id" class="form-control" placeholder="数量" required>
    </p>
    <p>
        <label for="lend_time" >借用时间：</label>
        <input name="lend_time" id="le_time__id" class="form-control" placeholder="借用时间" required>
    </p>
    <p>
        <label for="return_time" >归还时间：</label>
        <input name="return_time" id="re_time_id" class="form-control" placeholder="归还时间" required>
    </p>
    <p>
        <label for="organization" >借用组织：</label>
        <input name="organization" id="organ_id" class="form-control" placeholder="借用组织" required>
    </p>
    <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">提交</button>
    </p>
</form>
</body>
</html>