{% extends 'base.html' %}
{% block title %}查看个人信息{% endblock %}
{% block subtitle %}用户：{{ all_user.username }}{% endblock %}
{% block content %}
<div id="content">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">条目</th>
                        <th scope="col">内容</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>姓名</td>
                        <td>{{ all_user.first_name }}</td>
                    </tr>
                    <tr>
                        <td>学院</td>
                        <td>{{ all_user.college }}</td>
                    </tr>
                    <tr>
                        <td>联系方式</td>
                        <td>{{ all_user.mobile }}</td>
                    </tr>
                    <tr>
                        <td>邮箱</td>
                        <td>{{ all_user.email }}</td>
                    </tr>
                    <tr>
                        <td>组织</td>
                        <td>{{ all_user.organization }}</td>
                    </tr>
                    <tr>
                        <td>职务</td>
                        <td>{{ all_user.position }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}