{% extends 'base.html' %}
{% block title %}审核申请表{% endblock %}
{% block subtitle %}当前申请列表，请认真审核！{% endblock %}
{% block content %}
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        {% for table in all_table %}
            <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <h4 class="text-center">申请表编号：<span>{{ table.id }}</span></h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">字段</th>
                        <th scope="col">内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">借用者</th>
                        <td>{{ table.user.first_name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">所属学院</th>
                        <td>{{ table.user.college }}</td>
                    </tr>
                    <tr>
                        <th scope="row">联系方式</th>
                        <td>{{ table.user.mobile }}</td>
                    </tr>
                    <tr>
                        <th scope="row">借用物品名称</th>
                        <td>{{ table.name.name }}</td>
                    </tr>
                    <tr>
                        <th scope="row">物品规格</th>
                        <th>{{ table.specification }}</th>
                    </tr>
                    <tr>
                        <th scope="row">物品数量</th>
                        <th>{{ table.number }}</th>
                    </tr>
                    <tr>
                        <th scope="row">借用时间</th>
                        <th>{{ table.lend_time }}</th>
                    </tr>
                    <tr>
                        <th scope="row">归还时间</th>
                        <th>{{ table.return_time }}</th>
                    </tr>
                    </tbody>
                </table>
                <p>
                    <button class="btn btn-primary btn-block agree" id= "id_{{ table.id }}" >同意</button>
                </p>
                <p>
                    <button class="btn btn-danger btn-block refuse" id = "id_{{ table.id }}">拒绝</button>
                </p>


            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block custom_js %}
<script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(".agree").click(function(){
        var this_id = $(this).attr("id").substring(3)

        $.ajax({
            url: '{% url 'supplied:CheckTable' %}',
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                is_lend:'1',
                this_id:this_id
            },
            success:function(data){
                if(data.status == 'success'){
                    window.location.reload()
                }else if(data.status =='fail'){
                    alert('有错误')
                }
            }
        })
        })

    $(".refuse").click(function(){
        var this_id = $(this).attr("id").substring(3)

        $.ajax({
            url: '{% url 'supplied:CheckTable' %}',
            type: "POST",
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
                is_lend:'0',
                this_id:this_id
            },
            success:function(data){
                if(data.status == 'success'){
                    window.location.reload()
                }else if(data.status =='fail'){
                    alert('有错误')
                }
            }
        })
        })
</script>
{% endblock %}