<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>SuppliedInfo</title>
</head>
<body>
<h1>物资列表</h1>
    {% for supplied in all_supplied %}
        <h4>
            {{ supplied.name }}
{#            {% if is_staff %}#}
{#                <span><input type="checkbox"#}
{#                             {% ifequal supplied.is_lend 1 %}checked="checked"{% endifequal %}name="is_check"#}
{#                             id="is_check"/></span>#}
{#            {% endif %}#}
        </h4>
    {% endfor %}
</body>
</html>